[main]
base_url = https://matrix.somewhere.org
user_id = @bot:matrix.somewhere.org
password = P4SSW0RD
device_id = bot-config

[giphy]
api_key = GIPHY_API_KEY

[google]
api_key = GOOGLE_API_KEY
cx = GOOGLE_CX
